h1{
    text-align: center;
    font-family: sans-serif;
   margin-bottom: 20px;
   
}

*{
    box-sizing: border-box;
}


body{
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

.row {
    padding: 50px;
    position: ab;
    
}

.columns {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin: 10px;
    width: 90%;
    

}

.column {
    flex: 1;
    border: 1px solid #666;
    margin: 2px;
    padding: 10px;
    background: gray;
    width: 150px;
    
    
}

@media (max-width: 992px) {
    .columns .column {
   margin-bottom: 5px;
   flex-basis: 100%;
   width: 80%;
    }
}
@media (min-width: 768px) and (max-width: 991px){
    .columns .column{
        flex-basis: 40%;
        
        width: 50%;
    }
}


#reg1{
    position: relative;
    background-color: rgb(13, 156, 90);
    width: 40%;
    bottom: 22%;
    left: 57%;
    margin: 20px;

   
   
    
   
   
    

}
#reg2{
    position: relative;
    background-color: rgb(19, 125, 211);
    width: 40%;
    bottom: 22%;
    left: 62%;
    
 
} 
   

#reg3{
   position: relative;
    background-color: rgb(211, 134, 19);
    width: 20%;
    bottom: 22%;
    left: 81%;
}

h2{
    text-align: center;
}